<!-- <h2>App Component</h2> -->
<!-- <app-parent></app-parent> -->
<!-- <app-container></app-container>
 <input type="text" #emailId>
 <app-lifecycle [emailId] = "'{{emailId}}'"></app-lifecycle> -->

<!-- <h2>Pipe: accept input and output is transformed input</h2>
<h2>Built in pipes: Uppercase, LowerCase, jsonParse</h2>
<app-pipes></app-pipes>


<div>
    <h1>Hover over the box to change its background</h1>
    <button appHighlight>
        hover over this Button
    </button>
</div> -->
<app-services></app-services>